* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game-container {
    text-align: center;
}

#gameCanvas {
    border: 5px solid #00ff00;
    background-color: #1e1e1e;
}

.score {
    font-size: 18px;
    color: #ff1493;
    margin-top: 10px;
    font-weight: bold;
}

#startMessage, #restartMessage {
    font-size: 20px;
    color: yellow;
    margin-top: 10px;
}
